@font-face {
    font-family: uniicons;
    font-weight: normal;
    font-style: normal;
    src:url('~@/static/font/iconfont.ttf') format('truetype'); 
}

.icon {
    color: #999;
    font-family: uniicons;
    font-size: 42upx;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.icon.uni-active {
    color: #1ca6ec;
}

.icon-report:before {
  content: "\e63a";
}

.icon-shangcheng:before {
  content: "\e63d";
}

.icon-wode:before {
  content: "\e699";
}

.icon-fuwu:before {
  content: "\e6be";
}

.icon-tuiguang:before {
  content: "\e7f1";
}